.App {
  text-align: center;
  margin: auto;
}
body {
  
  min-height: 100px;
  display: flex;
  flex-direction: column;

  

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #03010e;
}

.navbar{
  outline: 5px solid grey;
  background-color: white !important;

}

.nav-link{
color: #03010e
}

.Link{
  color: #03010e
}

.home{
  background-image: url("https://images.pexels.com/photos/45717/pexels-photo-45717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260%22");
  height: 100vh;
}

.Carousel{
width : 100%;
height: 40em;
}

.carousel-item>img{
  width:100%;
  height:40em;
}

.navbar-brand{
  color: #000;
}