.About{
    font-size: 1.5em;
    
}

.img{
    display: flex;
    flex-flow: row nowrap;
}

.i1{
    flex: 1;
    width: 45%;
}

.i2{
    flex: 1;
    width: 45%;
    
}
.About>p{
    padding: 6em;
    outline-style: solid;
}