.login-effects{
    text-align: left;
    margin: auto;
    width: 50%;    
    padding: 1em;
    background-color: white;
    border: 2px solid lightslategray;
}

.login-effects>h1{
    padding-bottom: 1em ;
}

.login{
    background-image: url("https://images.pexels.com/photos/45717/pexels-photo-45717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260%22");
    background-image: "https://img.freepik.com/free-vector/pastel-color-watercolor-stain-background_52683-12283.jpg?size=626&ext=jpg";
    height: 100vh;
    padding-top: 150px;
    
}
